.FeedBackShow{
	height: 20vh;
	width:25%;
	text-align: center;
	padding-top: 2vw;
	font-family: 'Saira Condensed', sans-serif;
	margin: 3vh;
	font-size: .9rem;
	background-color: #B4B5BE;
	box-sizing: border-box;
	box-shadow: 2px 2px 2px rgba(0,0,0,.6);

}