.Modal {
    position: fixed;
    z-index: 500;
    
    width: 100%;
    
    box-shadow: 1px 1px 1px black;
    
     margin-left: -5%;
    top:50%;
    bottom: 10px;
    overflow: hidden;
    height:50%;
    box-sizing: border-box;
    transition: all 1s ease-out;
   
}
.map{
    height: 65vh;
    width: 100vw;
}
.Error{
    text-align: center;
   height: 10%;
   margin-top: 20%;
}
@media(max-width: 500px){
    .Modal{
        width: 100%;
        left: 0;
        font-size: 15px;
    }
}