.ContentDescription{
	background-color: #F2F3F6;
	width: 100%;
	height: 100%;
	display: flex;
	box-shadow: 0 4px 5px rgba(0,0,0,.7);
}
.Left{
	
	height: 100%;
	width: 50%;
	overflow: hidden;
}
.Right{
	
	height: 100%;
	width: 50%;
}
.Image{
	width: 100%;
	height: 100%;
	position: center center;
	margin: 0;
	object-fit: contain;
}
@media(max-width: 500px){
	.Image{
		width: 80%;
	}
}