.ThirdDiv a{
	color: white;
}

.BottomMenu{
	display: flex;
	color: white;
	text-align: center;
	
	margin-top: 0px;
	background-color: #05386B;
	width: 100%;
	height:6vh;
	box-sizing: border-box;

}
.FirstDiv{
	height: 6vh;
	width: 20%;
	border-right: 2px solid white;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.FourthDiv{
	display: none;

}
.SecondDiv{

	justify-content: space-around;
	align-items: center;
	height: 6vh;
	width: 60%;

	display: flex;
	border-right: 2px solid white;
}
.SecondDiv a{
	color:white;
}
.ThirdDiv{
	height: 6vh;
	width: 20%;
	box-sizing: border-box;
	
	
	color: white;
	box-sizing: border-box;
	font-size: 1.4vw;
	border-right: 2px solid white;
}
@media(max-width: 500px){
	.SecondDiv{
		display: none;
	}
	.FirstDiv{
		width: 40%;
	}
	.ThirdDiv{
		width: 40%;
		padding-top: .1vh;
		font-size: 14px;
		height: 4vh;
	}
	.BottomMenu{
		height: 4vh;
	}
	.FirstDiv{
		height: 4vh;

	}
	.FourthDiv{
		display: inline;
		font-size: 14px;
		box-sizing: border-box;
		padding-left: 3vw;
		padding-top: .3vh;
	}
}