
.Team{
	margin-top: 10vh;
}
.Header{
	font-size: 30px;
	text-align:center;
	font-family: 'Kaushan Script', cursive;
}
.Body{
	display: flex;
	
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-around;

}