.CsitSixth{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

}
.Link{
	color:black;
}
.Link:hover{
	color:blue;
	text-decoration: underline;
	}
.Subject{
	margin-top:3vh;
	height: 50vh;
	padding-top:7vh;
	text-align: center;
	width: 30vw;
	background-color: #ECE8E8;
	box-sizing: border-box;
	
	box-shadow: 4px 4px 7px rgba(0,0,0,0.7);

}
.Items{
	margin-top: 4vh;
}
.Link{
	color:black;
}
.Link:hover{
	color:green;
	text-decoration: underline;
}