.DrawerToggle{
	width: 30px;
	height: 80%;
	display: flex;
	flex-flow: column;
	margin-top: 3px;
	justify-content: space-around;
	box-sizing: border-box;
	cursor: pointer;
}
.DrawerToggle div{
	width: 90%;
	height: 3px;
	background-color: white;
}
@media(max-width: 500px){
	.DrawerToggle div{
	
	}
}