.EBooks{
	display: flex;
	height: 70vh;
	justify-content: space-around;
}
.Category{
	padding-left: 2vh;
	margin-top:4vh;
	height: 50vh;
	width: 30%;
	border: 1px solid grey;
	background-color: #ECE8E8;
	box-sizing: border-box;
	font-size: 20px;
	box-shadow: 4px 4px 7px rgba(0,0,0,0.7);
}
.CategoryItems{
	text-align: center;
	margin-top: 1vh;
	font-size: 15px;

}
.Link{
	color:black;
}
.Link:hover{
	text-decoration: underline;
	color: #05386B;
}