@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Kaushan+Script&display=swap');
.Logo{
font-family: 'Kaushan Script', cursive;
text-align: center;
margin-top: 0px;
font-size: 4vw;
width: 25%;
	
	box-sizing: border-box; 
}
.logo{
	color:black;
}
.sup{
	font-size: 2vw;
}
@media(max-width: 500px){
	.Logo{
		margin-top: 4vh;
	}
	.logo{
	color:black;
}
}