@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Kaushan+Script&display=swap');
.Logo{
font-family: 'Kaushan Script', cursive;
text-align: center;
margin-top: -20px;
font-size: 4vw;
width: 25%;
margin-left: 2px;
	overflow: hidden;
	box-sizing: border-box; 
}
.logo{
	color:black;
}
.sup{
	font-size: 2vw;
}
.capture{
	height: 17vh;
	width: 100%;
	margin-top:-9px;
}
@media(max-width: 500px){
	.Logo{
		margin-top: 4vh;
	}
	.logo{
	color:black;
}
}