.Input{
	height: 7vh;
	width: 100%;
	padding-left:7vw;
	box-sizing: border-box;
}
.Label{
	font-weight: bold;
	display: block;
	margin-bottom: 2vh;
}
.InputElement{
	outline: none;
	border:1px solid #ccc;
	background-color: white;
	font:inherit;
	
	display: block;
	width:80%;
	border-radius: 10px;
	height: 5vh;
	text-align: center;
}
.InputElement:focus{
	outline: none;
	border:1px solid blue;
	transition: .2s;
	background-color: #EEEFF3 ;
	box-shadow:0px 0px 1px blue;
}
.Invalid{
	border:1px solid red;
	background-color: salmon;
}