.Modal {
    position: absolute;
    z-index: 500;
    background-color:lightgrey;
    width: 30%;
    height: 45vh;
    border-radius: 20px;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left:10vw;
    top:45vh;
    
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}
@media(max-width: 500px){
    .Modal{
        width:50%;
        top:20vh;
    }
}


