.TrendingCard{
	height: 40vh;
	width: 9vw;
	border: 1px solid #ccc;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.7);
	margin-right: 1vw;
	
	display: inline;
	border-radius: 10px;
}
.TrendingCard:hover{
	height: 44vh;
	width: 14vw;
	transition: .5s;
	}
.TrendingCard:hover .Image{
	width: 13vw;
	height:25vh; 
	transition: .5s;
}
.TrendingCard:hover .Details{
	padding-top: 5.5vh;
}
.ImageDiv{
	height: 20vh;
	width: 15vw;
}
.Image{
	padding-top:10px;
	padding-left: 10px;

	box-sizing: border-box;
	height:20vh;
	border-radius: 4px;
	width: 8vw; 
}

@import url('https://fonts.googleapis.com/css?family=Saira+Condensed&display=swap');
.Details{
	font-family: 'Saira Condensed', sans-serif;
	font-size: 1vw;
	width: 9vw;
	overflow: wrap;
	padding-top: 1.1vh;
	padding-left: .5vw;
}
@media(max-width: 500px){
	.TrendingCard{
		height: 26vh;
		
		width: 25vw;
		

	}
	.Image{
		
		height:16vh;
		width: 23vw;
	}
	.ImageDiv{
		height: 16vh;
	}
	.Details{
		padding-top: 1vh;
		padding-left: 1vw;
		font-size: 8px;
		width: 25vw;
	}
	.TrendingCard:hover{
	height: 30vh;
	width: 50vw;
	transition: .5s;
	}
	.TrendingCard:hover .Image{
	width: 13vw;
	height:25vh; 
	transition: .5s;
	}
	.TrendingCard:hover .Details{
	padding-top: 5.5vh;
	}
	.ImageDiv{
	height: 20vh;
	width: 15vw;
}
}