.ShowItem{
	width: 89.1vw;
	border:1px solid black;
	height: 10vh;
	display: flex;
}
.img,.aut,.tit,.des,.pri{
	
	width: 20vw;
	text-align: center;
}
.des{
	overflow:hidden;
}
.imgbi{
	height: 10vh;
	width: 17vw;
}
.imgbib{
	padding-top: 0.4vh;
	padding-left: 2vw;
	height: 10vh;
	width: 10vw;
}