.SideDrawer{
	opacity: .9;
	position: fixed;
	width: 270px;
	width: 20%;
	height: 100%;
	left:0;

	top:24vh;
	z-index: 200;
	background-color: white;
	padding: 32px 16px;
	
	box-sizing: border-box;
	transition: transform 0.3s ease-out;

}
.Open{
	transform: translateX(0);
}
.Close{
	transform: translateX(-100%);
}
.SideDrawerItems{
	
	color:black;
}
@media(max-width: 500px){
	.SideDrawer{
		opacity: 1;
		top:18vh;
		width: 45%;
	}
}