.Left{
	
	text-align: center;
}
.Header{
	font-size: 20px;
	margin:3vh 0;
}
.Body{
	line-height: 5vh;
	font-size: 15px;
}
.Link{
	color:black;
}
.Link:hover{
	color:blue;
	text-decoration: underline;
}